.header {
    height: 2rem;
    background-color: #ed292d;
    padding: 1rem 10rem;
    .logo {
        height: 2.5rem;
        width: 3rem;
    }
    .user-logo {
        border-radius: 0.5rem;
    }
}