<footer class="footer d-flex justify-between">
    <div class="d-flex flex-column justify-center align-center">
        <!-- <h3 class="mb-1" for="">Rewardz</h3> -->
        <img src="../../assets/images/rewardz-logo.png" alt="">
        <div class="mt-1 d-flex flex-row align-center">
            <mat-icon>copyright</mat-icon>
            <span for="">2024</span>
        </div>
        
    </div>
    <div  class="d-flex flex-column">
        <h3 class="mb-1" for="">Version</h3>
        <span>2.2.2</span>
    </div>
    <div class="d-flex flex-column">
        <h3 class="mb-1">About</h3>
        <span>Contact Us</span>
        <span>Privacy</span>
        <span>Terms of user</span>
    </div>
</footer>
