<div>
    <h2 class="search-label">Search</h2>
    <mat-form-field class="example-full-width">
        <mat-icon matPrefix>search</mat-icon>
        <input type="text" matInput placeholder="Search">
    </mat-form-field>
    <div class="d-flex align-center">
        <h4 class="m-0">Applied Filters: </h4>
        <span class="mr-1 filter-chip">e-Voucher X</span>
        <span class="mr-1 filter-chip">Clear filters X</span>
    </div>
    <div class="d-flex justify-between mt-2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Categories</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-1">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> e-Voucher</mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> Products </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                </mat-accordion>
                <mat-accordion>
                    <mat-expansion-panel class="mt-2">
                        <mat-expansion-panel-header>
                            <mat-panel-title> Evergreen</mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                </mat-accordion>
                <mat-accordion>
                    <mat-expansion-panel class="mt-2">
                        <mat-expansion-panel-header>
                            <mat-panel-title> Fashion & Retail </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                </mat-accordion>

            </mat-card-content>
        </mat-card>
        <div class="d-flex flex-column">
            <div>

            </div>
            <div>
                <app-reward-card></app-reward-card>
            </div>
        </div>
    </div>
</div>